APP_NAME="kdmarc"
APP_LOG="dev"
APP_PORT=4000
APP_URL=http://localhost
APP_SECURE=false

DB_CONNECTION=mysql
DB_HOST=sql6.freemysqlhosting.net
DB_PORT=3306
DB_DATABASE=sql6396892
DB_USERNAME=sql6396892
DB_PASSWORD=jv5jUydRZl

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=

REDIS_PORT=17824
REDIS_HOST=redis-17824.c89.us-east-1-3.ec2.cloud.redislabs.com
REDIS_AUTH=wD0bn1VWdsKlaJMws7s5q6kjmujtp9eQ